

#content{
  background-color: #f99d5d;
  margin: 80px 70px;
  text-align: center;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}



/* Header/footer boxes */

.wideBox {
  clear: both;
  text-align: center;
  margin: 70px;
  padding: 10px;
  background: #ebedf2;
  border: 1px solid #333;
  background-color: #40a2ffbd;
}

.wideBox h1 {
  font-weight: bold;
  margin: 20px;
  color: black;
  font-size: 1.5em;
}

.wideBox p {
  color: black;
}

/* Slots for final card positions */

.T1Q1 #cardSlots {
  margin: 0 auto 3em auto;
  background: #007bff;
  float: right;
  display: none;

}

/* The initial pile of unsorted cards */

.T1Q1 #cardPile {
  margin: 0 auto;
  background: #D65108;
  float: left;
  display: none;
}

 .T1Q1 #cardSlots, .T1Q1 #cardPile {
  width: 47%;
  height: 80%;
  padding: .85em;
  border: 2px solid #333;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
  box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
}

/* Individual cards and slots */

 .T1Q1 #cardSlots div,  .T1Q1 #cardPile div {
  float: left;
  width: 48%;
  height: 180px;
  padding: 5px;
  border: 2px solid #333;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin: 10px 0 0 10px;
  background: #fff;
}

 .T1Q1 img{
  width: 245px;
}

.loadButton {
  text-align: center;

}

/*#cardSlots div:first-child, #cardPile div:first-child {
  margin-left: 0;
}*/

 .T1Q1 #cardSlots div.hovered {
  background: #aaa;
}

 .T1Q1 #cardSlots div {
  border-style: dashed;
}

 .T1Q1 #cardPile div {
  background: #055000;
  color: #fff;
  font-size: 1em;
  text-shadow: 0 0 3px #000;
  text-align: center;
}

 .T1Q1 #cardPile div.ui-draggable-dragging {
  -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
}

/* Individually coloured cards */

 #card1.correct,
 #card2.correct,
 #card3.correct,
 #card4.correct,
 #card5.correct,
 #card6.correct,
 #card7.correct,
 #card8.correct,
 #card9.correct,
 #card10.correct {

  background: #149614e0;
}


/* "You did it!" message */
#successMessage {
  position: absolute;
  left: 580px;
  top: 250px;
  width: 0;
  height: 0;
  z-index: 100;
  background: #dfd;
  border: 2px solid #333;

  border-radius: 10px;

  box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
  padding: 35px;
  text-align: center;
}
