.topBar {
	background-color: #0075C4;
	margin: 0;

}

.topBar .gameName{
	background-color: #D65108;
	margin: 0;
	display: inline-block;
	padding: 25px 40px;
	color: white;

}

.topBar .welcomeMSG{
	display: inline-block;
	float: right;
	margin: 0;
	background-color: #D65108;
	padding: 10px 20px;
	color: white;

}

.topBar .gameName h1{
	margin: 0;

}

#gameBoxes .gameTitle {
	border-bottom: 5px solid #de723a;
    

    margin-bottom: 30px;
}


#gameBoxes .eachSection {
	width: 80%;
    margin: 50px 10%;
    background: #ffffffab;
    padding: 50px;
    text-shadow: 0px 10px 6px rgba(0,0,0,.5);
    box-shadow: 0px 0px 10px 9px rgba(0, 0, 0, 0.2);


}


#gameBoxes {
	background-color: #CECECE;
	width: 100%;
	height: 100%;
	padding: 80px 0 30px 0;
}

#gameBoxes .each {
	margin-bottom: 50px;
	padding: 0 30px;

}

#gameBoxes .array{
	background-color: #F1E08A;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;

}

#gameBoxes .trees{
	background-color: #6BA6FF;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;

}

#gameBoxes .hashTables{
	background-color: #8E7CFF;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;

}

#gameBoxes .linkedL{
	background-color: #A8FF73;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;

}

#gameBoxes .stacks{
	background-color: #73FFE6;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;

}

#gameBoxes .queues{
	background-color: #FFB673;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;

}

#gameBoxes .test1{
	background-color: #6BA6FF;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}


#gameBoxes .title{
	background-color: black;
	color: white;
	padding: 5px;

}


#gameBoxes .title h1, #gameBoxes .title h2{

	padding: 5px;
	margin: 0;

}



#gameBoxes .content{
	padding-top: 40px;
	padding-bottom: 20px;

}

.fa .fa-play {
	color: black;
	width: 70px;
	height: 70px;
}
a {
  text-decoration: none;
	color: black;
}
a:hover, a:focus, a:active {
  color: black;
  text-decoration: none;
}
.each .content .left {
	padding-left: 30px;
	padding-top: 14px;
}

.progressText{
	font-weight: bold;
	font-size: 20px;
	padding-left: 5px;
}
