nav {
  height: 950px;
  background: #0075C4;
  position: fixed;
  font-size: 20px;
  text-align: justify;
}
nav a {
  line-height: 100px;
  color: white;
}
#logo {
  line-height: 3em;
  text-align: center;
  color: white;
  background: #D65108;
  width: 100%;
  font-size: 1em;
}
#page-frame {
  background: pink;
}
#page-frame h1{
  padding-top: 40px;
  text-align: center;
}

#content {
  display: inline-block;
}
