
 
.T2Q1 #cardSlots {
  margin: 0 auto 3em auto;
  background: #007bff;
  float: right;
}
 
/* The initial pile of unsorted cards */
 
.T2Q1 #cardPile {
  margin: 0 auto;
  background: #D65108;
  float: left;
}
 
.T2Q1 #cardSlots {
  width: 918px;
  height: 643px;
  padding: .85em;
  border: 2px solid #333;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
  box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
  background: url(../../img/test2/q1/q1.png);
  background-size:contain; ;  
  display: none;  
  
}

.T2Q1 #cardPile {
  width: 27%;
  height: 80%;
  padding: .85em;
  border: 2px solid #333;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
  box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
  display: none;
}
 
/* Individual cards and slots */
 


.T2Q1 #cardPile div {
  float: left;
  width: 95px;
  height: 95px;
  padding: 5px;
  border: 2px solid #333;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin: 10px 0 0 10px;
}

.T2Q1 img{
  width: 245px;
}
 
/*#cardSlots div:first-child, #cardPile div:first-child {
  margin-left: 0;
}*/
 
.T2Q1  #cardSlots div.hovered {
  background: #aaa;
}
 

 
.T2Q1 #cardPile div {
  color: #fff;
  font-size: 1em;
  text-shadow: 0 0 3px #000;
  text-align: center;
}
 
.T2Q1  #cardPile div.ui-draggable-dragging {
  -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
}
 
/* Individually coloured cards */
 
/*#card1.correct,
#card2.correct,
#card3.correct, 
#card4.correct, 
#card5.correct, 
#card6.correct, 
#card7.correct, 
#card8.correct, 
#card9.correct, 
#card10.correct {

  background: #149614e0; 
}*/

.T2Q1  #boxes {
  padding-left: 318px;
  padding-top: 85px;
  float: left;


}

.T2Q1 .slot {
  width: 95px;
  height: 95px;
  display: inline-block;
  border-style: dashed;
  margin: 0px 140px 0px 0px;
  border-radius: 10px;
}

.T2Q1 .slotLast {
  width: 95px;
  height: 95px;
  display:inline-block;
  border-style: dashed;
  padding: 0px 0px  0px 0px;
}
 

.T2Q1 .row {
  height: 108px;
}

.T2Q1 .greenPile {
  background: #055000;

}

.T2Q1 .greenPile.correct{
  background: #149614e0; 
}

.T2Q1 .redPile {
  background: red;

}

.T2Q1 .redPile.correct{
  background: #ff0000c4; 
}
 
