
.T2Q2 {
  display: none;
}

.T2Q2 #cardSlots {
  margin: 0 auto 3em auto;
  background: #007bff;
  float: right;
}
 
/* The initial pile of unsorted cards */
 
.T2Q2 #cardPile {
  margin: 0 auto;
  background: #D65108;
  float: left;
}
 
.T2Q2 #cardSlots, .T2Q2 #cardPile {
  width: 47%;
  height: 80%;
  padding: .85em;
  border: 2px solid #333;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
  box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
  display: none;  
}
 
/* Individual cards and slots */
 
.T2Q2 #cardSlots div, .T2Q2 #cardPile div {
  float: left;
  width: 45%;
  height: 210px;
  padding: 5px;
  border: 2px solid #333;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin: 10px 0 0 10px;
  background: #fff;
}

.T2Q2 img{
  width: 245px;
}
 
/*#cardSlots div:first-child, #cardPile div:first-child {
  margin-left: 0;
}*/
 
.T2Q2 #cardSlots div.hovered {
  background: #aaa;
}
 
.T2Q2 #cardSlots div {
  border-style: dashed;
}
 
.T2Q2 #cardPile div {
  background: #055000;
  color: #fff;
  font-size: 1em;
  text-shadow: 0 0 3px #000;
  text-align: center;
}
 
.T2Q2 #cardPile div.ui-draggable-dragging {
  -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
}
 
/* Individually coloured cards */
 
.T2Q2 #card1.correct,
.T2Q2 #card2.correct,
.T2Q2 #card3.correct, 
.T2Q2 #card4.correct, 
.T2Q2 #card5.correct, 
.T2Q2 #card6.correct, 
.T2Q2 #card0.correct {

  background: #149614e0; 
}
