#T3Q2 {
  display: none;


}

#T3Q2 #content {
  text-align: center;
}
 
/* Slots for final card positions */
 
#T3Q2 #cardSlots {
  margin: 0 auto 3em auto;
  background: #007bff;
  float: right;
}
 
/* The initial pile of unsorted cards */
 
#T3Q2 #cardPile {
  margin: 0 auto;
  background: #D65108;
  float: left;
}
 
#T3Q2 #cardSlots {
  width: 930px;
  height: 300px;
  padding: .85em;
  border: 2px solid #333;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
  box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
  background: url(../../img/test3/q2.png);
  /*background-color: white;*/
  background-size:contain; ;                      /* <------ */
  background-position:  center;
  display: none;
}

#T3Q2 #cardPile {
  width: 26%;
  height: 80%;
  padding: .85em;
  border: 2px solid #333;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
  box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
  display: none;
}
 
/* Individual cards and slots */
 


#T3Q2 #cardPile div {
  float: left;
  width: 130px;
  height: 50px;
  padding: 5px;
  border: 2px solid #333;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin: 10px 0 0 10px;
}

#T3Q2 img{
  width: 245px;
}
 
/*#cardSlots div:first-child, #cardPile div:first-child {
  margin-left: 0;
}*/
 
#T3Q2 #cardSlots div.hovered {
  background: #aaa;
}
 

 
#T3Q2 #cardPile div {
  color: #fff;
  font-size: 25px;
  text-shadow: 0 0 3px #000;
  text-align: center;
}
 
#T3Q2 #cardPile div.ui-draggable-dragging {
  -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
}
 


#boxes {




}

#T3Q2 .slot {
  width: 130px;
  height: 50px;
  display: inline-block;
  border-style: dashed;
  margin: 0px 128px 0px 0px;
}

#T3Q2 .slotLast {
  width: 130px;
  height: 50px;
  display: inline-block;
  border-style: dashed;
  padding: 0px 0px  0px 0px;
}

#T3Q2 .slotLevel2 {
  width: 130px;
  height: 50px;
  display: inline-block;
  border-style: dashed;
  margin: 0px 380px  0px 0px;
  background-color: white;
}
 

#T3Q2 .row {
  height: 100px;
  display: inherit;
}

#T3Q2 .row div {
  background-color: white;
  border-radius: 10px;
}

#T3Q2 .greenPile {
  background: #055000;

}

#T3Q2 .greenPile.correct{
  background: #149614e0; 
}

#T3Q2 .redPile {
  background: red;

}

#T3Q2 .redPile.correct{
  background: #ff0000c4; 
}
