<navbar></navbar>

<div id="question-form" class="container">
	<div class="jumbotron">
		<h1>Runtime Question Submission</h1>
		<form>
			<label for="question">Question:</label>
			<textarea class="form-control" rows="5" ng-model="question" id="quesiton">Enter a question text here</textarea>
			<label for="answer">Answer:</label>
			<select class="form-control" id="answer" ng-model="answer">
					<option selected="selected">Array</option>
					<option>Vector</option>
					<option>Singly Linked List</option>
					<option>Doubly Linked List</option>
					<option>Hash Map</option>
					<option>Queue</option>
					<option>Stack</option>
			 </select>
			<button type="submit" ng-click="submit();" class="btn btn-primary">Submit</button>
		</form>
	</div>
</div>
